* {
    box-sizing: border-box;
}

body {
    background-color: #EAE2B7;
    color: #3e3f85;
}

h1{
    text-align: center;
}

.container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 25px;
}

.box{
    width: 33.33%;
    text-align: center;
    margin: auto; 
}

#die{
    display: none;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}

#rotating_die{
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: hue-rotate(170deg)
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

button {
    border-radius: 10%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3e3f85;
}

#new_game {
    font-size: 50px;
    background-color: #FCBF49;
    color:#3e3f85;
}

.die p {

    display:none;
}

#roll {
    display:none;
    font-size: 50px;
    background-color: #D62828;
    color:#3e3f85;
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 10%;
}

#hold{
    display:none;
    font-size: 50px;
    background-color: #5E60CE;
    color:white;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.winner {
    display: none;
}

.holding {
    display: none;
}


@media only screen and (max-width: 768px){

    .instructions {
        font-size: 175%;
    }

    #die {
        width: 85%;
        height: 85%;
        margin-top: 15%;
        margin-bottom: 20%;
    }

    #rotating_die {
        width: 85%;
        height: 85%;
        margin-top: 15%;
        margin-bottom: 20%;
    }

    .box.buttons{
        margin-top: 7%;
    }

    #roll {
        font-size: 35px;
    }

    #new_game{
        font-size: 30px;
    }

    #hold{
        font-size: 30px;
    }

}