* {
    box-sizing: border-box;
}

body {
    background-color: #EAE2B7;
    color: #3e3f85;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Goldman', cursive;
    color: blue;
}

h2 {
    font-family: 'Goldman', cursive;
    color: blue;
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 25px;
    border: 2px solid green;
}

.box{
    width: 33.33%;
    text-align: center;
    border: 1px solid blue;
    font-family: 'Goldman', cursive;
}

.box.rules {
    width: 85%;
    margin-bottom: 2%;
}

#die{
    display: none;
    margin: auto;
}

#rotating_die{
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: hue-rotate(170deg)
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.box.turn {
    display: none;
    font-size: 40px;
    width: 100%;
    color: blue;
}

.box.turn .roll{
    color: #5E60CE;
}

.box.turn .rolled{
    display: none;
}

#new_game {
    font-size: 50px;
    background-color: #FCBF49;
    color:#3e3f85;
    font-family: 'Goldman', cursive;
}

.winner {
    display: none;
    color: darkred;
}

.holding {
    display: none;
    color: darkmagenta;
}

.box.buttons {
    margin-top: 1%;
    width: 100%;
}

button {
    border-radius: 10%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3e3f85;
}

#roll {
    display:none;
    font-family: 'Goldman', cursive;
    font-size: 50px;
    background-color: #D62828;
    color:#3e3f85;
}

#hold{
    display:none;
    font-family: 'Goldman', cursive;
    font-size: 50px;
    background-color: #5E60CE;
    color:white;
}


@media only screen and (max-width: 768px){

    .instructions {
        font-size: 175%;
    }

    #die {
        width: 85%;
        height: 85%;
        /* margin-top: 15%;
        margin-bottom: 20%; */
    }

    #rotating_die {
        width: 85%;
        height: 85%;
        /* margin-top: 15%;
        margin-bottom: 20%; */
    }

    .box.buttons{
       width: 100%;
    }

    #roll {
        font-size: 35px;
    }

    #new_game{
        font-size: 30px;
    }

    #hold{
        font-size: 30px;
    }

}