* {
    box-sizing: border-box;
}

body {
    background-color: #EAE2B7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-weight: bold;
}

.instructions {
    font-size: 250%;
    color: #3e3f85;
    text-align: center;
}

.box.buttons{
    margin-top: 10%;
}

.button {
    border-radius: 10%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3e3f85;
}

.button:active{
    border-radius: 10%;
}

#roll {
    font-size: 50px;
    background-color: #D62828;
    color:#3e3f85;
}

#roll:active {
    background-color: blue;
}


#die {
    visibility: hidden;
}

#replay{
    display: none;
    font-size: 50px;
    background-color: #FCBF49;
    color:#3e3f85;
}

#replay:active{
    background-color: white;
}

@media only screen and (max-width: 768px){

    .instructions {
        font-size: 175%;
    }

    #die {
        width: 85%;
        height: 85%;
    }

    .box.buttons{
        margin-top: 7%;
    }

    #roll {
        font-size: 35px;
    }

    #replay{
        font-size: 30px;
    }

}

@media only screen and (max-width: 500px){

    .instructions {
        font-size: 150%;

    }

    #die {
        width: 80%;
        height: 80%;
    }

    .box.buttons{
        margin-top: 25%;
    }

    #roll {
        font-size: 25px;
    }

    #replay{
        font-size: 25px;
    }

}