body {
    background-color: #EAE2B7;
}

h1 {
    text-align: center;
    color: #3e3f85;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    margin: 2%;
}

.instructions {
    font-size: 150%;
    color: #3e3f85;
    text-align: center;
}

.button {
    border-radius: 10%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3e3f85;
}

.button:active{
    border-radius: 10%;
}

#roll {
    font-size: 50px;
    background-color: #D62828;
}

#roll:active {
    background-color: blue;
}


#die {
    visibility: hidden;
    filter: hue-rotate(80deg);
}

#replay{
    display: none;
    font-size: 50px;
    background-color: #FCBF49;
    color:#3e3f85;
}

#replay:active{
    background-color: white;
}

/*rotate dice*/
/*change dice colours*/
